<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <p>Welcome to <%= user.firstname +" "+user.lastname %></p>

    <a href="/home/logout">logout</a>
  </body>
</html>
